/* Add a black background color to the top navigation */
.topnav {
  padding-top: 10px;
  overflow: hidden;
  font-family:quicksand;
  text-align: center;
  margin-left: auto;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:#FDDD8A;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color:#FDDD8A;
}
body{
    background-image: url(./BGs/BG.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5a8d91;
}
body.img {
  object-fit: contain;

  margin: auto;
}

.box{
    overflow: hidden;
    color:#FDDD8A;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family:quicksand;
    vertical-align: middle;
    width: 50%;
}

.box a{
    color:#FDDD8A;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    font-size: 17px;
    display:inline-block;
    vertical-align: middle;
    
}
.box img{
    vertical-align: middle;
    display:inline-block;
    margin-right:5px;
    
}

.SoundBored{
  background-image:url();
}

.socials{
  background-color: #00202F;
  color:#FDDD8A;
  border-radius: 25px;
  text-align: center;
  border: 3px solid #5A8D91;
  margin-top: auto;
  width: 350px;
  font-family:quicksand;
  vertical-align: 25%;
  margin-left: auto;
  margin-right: auto;
}
.layout {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  overflow: hidden;
}
p{
  padding: 10px;
  border-width:3px;
  border-radius: 25px;
  border-style:solid;
  border-color:#C2BB8E;
  color:#FDDD8A;
  background-color: #5A8D91;
}
.video-panel{
  padding: 75px;
}
h1{
  text-align: center;
}